<div class="row activity">

    <div class="twelve columns main-col">

        <div class="row item">

            <div class="twelve columns">

                <h3>Founder/Co-President</h3>
                <p class="info">Stanford Transhumanist Association<span>&bull;</span> <em class="date">March
                        2018 - Present</em></p>

                <p>
                    Organized executive board members & meeting. <br>
                    Designed STA discussion event posters. <br>
                    Took record of STA meeting & discussion. <br>
                    Recruited Stanford students into club members.
                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="twelve columns">

                <h3>Webmaster</h3>
                <p class="info">Omicron Charter, Sigma Psi Zeta<span>&bull;</span> <em class="date">January 2018
                        - Present </em></p>

                <p>
                    Ran homepage for the biggest Asian interest sorority in campus. <br>
                    Publicized the organization's activity, redesigned user interface that doubled website
                    traffic.<br>
                    <a href="https://stanfordsyz.weebly.com/" target="_blank">Sigma Psi Zeta</a>
                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="twelve columns">

                <h3>Student Associate</h3>
                <p class="info">Lane Library, Stanford Medical Center<span>&bull;</span> <em class="date">March
                        2018 - Present</em></p>

                <p>
                    Helped manage 10000+ books through returning, lending, and shelving books. <br>
                    Assisted library users at the front desk. <br>
                    Participated in library user statistics through Google Docs.
                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="twelve columns">

                <h3>Community Director</h3>
                <p class="info">Biology Interdisplinary Open Maker Environment, Stanford<span>&bull;</span> <em
                        class="date">March 2003</em></p>

                <p>
                    Fostered bioengineering community on campus through designing club tshirt. <br>
                    Organized the first Stanford Bioengineering Hackathon supported by Genspace, Opentrons, FBI,
                    and other biotech companies<br>
                    <a href="https://stanfordbiome.org/" target="_blank">BIOME</a>
                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="twelve columns">

                <h3>Center player</h3>
                <p class="info">Stanford Intramural Women Basketball Team<span>&bull;</span> <em class="date">September
                        2016 - March 2017</em></p>

                <p>
                    Participated in rigorous basketball training twice every week. <br>
                    Played in varsity basketball team during high school.
                </p>

            </div>

        </div> <!-- item end -->

    </div> <!-- main-col end -->

</div> <!-- End Education -->